@import url("https://fonts.googleapis.com/css?family=Karla|Montserrat&display=swap");

body {
    font-family: "Montserrat";

    background: url(images/backgroundpattern.png) top left repeat;
    background-position: top left;
    color: rgb(160, 126, 88);
}

nav {
    margin: -top: 5vw;
    margin-left: 5vw;

}

/*Live Display with information about students in total, expelled etc.*/
.display_wrapper {
    height: 20 vw;
    display: grid;
    grid-template-columns: 20px 50% 50% 20px;
    grid-template-rows: 50% 50%;
    background-color: beige;
    padding: 20px;
  }
  
  .display1 {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1;
  }
  
  .display2 {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 2;
  }
  
  .display3 {
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 1;
  }
  
  .display4 {
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 2;
  }

h1 {
    font-family: "Karla";
    font-size: 2rem;
    letter-spacing: 1px;
    
}



img {
    border: 0px solid #8d8989;
    border-radius: 10px 10px 10px 10px;
}



.grid-container {
    display: flex;
    padding: 5px;
    width: 100%;

}

.grid-item {
    width: 100%;
    padding: 20px;
    background-color: beige;
    border-radius: 5px 5px 5px 5px;
}


/** buttons**/

.button_details {
    border-radius: 3px;
    border-color: #4056a1;
    display: inline-block;
    background-color: beige;
    cursor: pointer;
    color: #4056a1;
    font-size: .8em;

    padding: 5px 10px;
    margin-top: 1em;
    text-decoration: none;
}

.button_details:hover {
    background-color: #4056a1;
}

.button_details:active {
    position: relative;
    top: 1px;
}

/*modal*/
:root {
    --primary-color: #f13c20;
    --secondary-color: #d79922;
    --tertiary-color: #4056A1;
    --quandary-color: green;
}

[value="gryffindor"] {
    color: var(--primary-color);
}

[value="hufflepuff"] {
    color: var(--secondary-color);
}

[value="ravenclaw"] {
    color: var(--tertiary-color);
    
}

[value="slytherin"] {
    color: var(--quandary-color);
}
.portrait { 
    width: 90%;
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 2;
    grid-row-end: 2;
   
}
.crest {
    background-size: contain;
    background-repeat: no-repeat;
    width: 50px;
   

}
.modalPrefect {
    grid-column-start: 2;}

    .modalInquSquad {
        grid-column-start: 2;}
       
        

.gryffindor .crest {
    background-image: url('images/Gryffindor.png');
}

.hufflepuff .crest {
    background-image: url('images/Huffelpuff.png');
}

.ravenclaw .crest {
    background-image: url('images/Ravenclaw.png');

}

.slytherin .crest {
    background-image: url('images/Slytherin.png');
}


.modal-background {
    position: fixed;
   
  left: 30vw;
  top: 10vw;
  z-index: 20;
 
}

.modal-wrapper {
    display: inline-grid;
    width: 600px;
    height: 400px;
    grid-template-columns: 200px 100%;
    grid-template-rows: 100px 100px;
    margin: 1em;
    padding: 2em;
}

.gryffindor .rectangle1 {
    margin-top: 10px;
    display: inline-block;
    height: 50px;
    width: 100px;
    background-color: var(--primary-color);
   
  }
  .gryffindor .rectangle2 {
    margin-top: 10px;
    display: inline-block;
    height: 50px;
    width: 100px;
    background-color: var(--secondary-color);
  
  }

  .hufflepuff .rectangle1 {
    margin-top: 10px;
    display: inline-block;
    height: 50px;
    width: 100px;
    background-color: var(--secondary-color);
   
  }
  .hufflepuff .rectangle2 {
    margin-top: 10px;
    display: inline-block;
    height: 50px;
    width: 100px;
    background-color: black;
  
  }

  
  .slytherin .rectangle1 {
    margin-top: 10px;
      display: inline-block;
    height: 50px;
    width: 100px;
    background-color: var(--quandary-color);
   
  }
  .slytherin .rectangle2 {
    margin-top: 10px;
      display: inline-block;
    height: 50px;
    width: 100px;
    background-color: darkgray;
  
  }

  
  .ravenclaw .rectangle1 {
    margin-top: 10px;
    display: inline-block;
    height: 50px;
    width: 100px;
    background-color: var(--tertiary-color);
   
  }
  .ravenclaw .rectangle2 {
      margin-top: 10px;
      display: inline-block;
    height: 50px;
    width: 100px;
    background-color:  rgb(160, 126, 88);
  
  }

.modal-wrapper {
    background-color: #FCEAC1;

}


.hide {
    display: none;
}

.modalFirstName {
    display: inline-block; 
    font-size: 2rem;
        letter-spacing: 1px;
        
    }
    .modalMiddleName {
        display: inline-block;
        font-size: 2rem;
            letter-spacing: 1px;  
           
        }
        .modalNickName {
            display: inline-block;
            font-size: 2rem;
                letter-spacing: 1px;  
              
            }
            .modalLastName {
                display: inline-block;
                    font-size: 2rem;
                    letter-spacing: 1px;  
                   
                }
    
    .modal-house {
    font-size: 1rem;}
      
      
    

    /*Buttons*/

.filter { background-color:rgb(160, 126, 88); 
        border: none;
        color:#FCEAC1;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 1rem;}